.wp-block-uagb-image {
	&--align-left,
	&--align-right,
	&--align-center {
		display: table;
		> figcaption {
			display: table-caption;
			caption-side: bottom;
			text-align: center;
		}
	}
	&--align-wide,
	&--align-full {
		img {
			height: auto;
			width: 100%;
		}
	}
	&--align-left {
		margin-right: auto;
		margin-left: 0;
	}
	&--align-right {
		margin-left: auto;
		margin-right: 0;
	}
	&--align-center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
