.wp-block-uagb-image {
	display: inline-block;
	max-width: 100%;
	&--align-left,
	&--align-right,
	&--align-center {
		display: table;
		> figcaption {
			display: table-caption;
			caption-side: bottom;
			text-align: center;
		}
	}
	figcaption {
		margin-top: 0.5em;
		margin-bottom: 1em;
	}
	&--align-wide,
	&--align-full {
		img {
			height: auto;
			width: 100%;
		}
	}
	&--align-left {
		margin-right: auto;
		margin-left: 0;
	}
	&--align-right {
		margin-left: auto;
		margin-right: 0;
	}
	&--align-center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	&--layout-overlay {
		position: relative;
		&__inner {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: rgba($color: #fff, $alpha: 0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			&.top-left,
			&.top-center,
			&.top-right {
				justify-content: flex-start;
			}
			&.bottom-left,
			&.bottom-center,
			&.bottom-right {
				justify-content: flex-end;
			}
			&.top-left,
			&.center-left,
			&.bottom-left {
				align-items: flex-start;
			}
			&.top-right,
			&.center-right,
			&.bottom-right {
				align-items: flex-end;
			}
			.uagb-image-separator {
				width: 30%;
				border-top-width: 2px;
				border-top-color: #333;
				border-top-style: solid;
				margin-bottom: 10px;
			}
		}
	}
	// hover effect
	&--effect {
		&-zoomin {
			overflow: hidden;
			img {
				transform: scale(1);
				transition: transform .35s ease-in-out;
			}
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		&-slide {
			overflow: hidden;
			img {
				width: calc(100% + 40px);
				max-width: none !important;
				transform: translate3d(-40px, 0, 0);
				transition: transform .35s ease-in-out;
			}
			&:hover {
				img {
					transform: translate3d(0, 0, 0);
				}
			}
		}
		&-grayscale {
			img {
				filter: grayscale(0%);
				transition: .35s ease-in-out;
			}
			&:hover {
				img {
					filter: grayscale(100%);
				}
			}
		}
		&-blur {
			img {
				filter: blur(0px);
				transition: .35s ease-in-out;
			}
			&:hover {
				img {
					filter: blur(3px);
				}
			}
		}
	}
}
