.uagb-slide-navigation-wrap {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #f1f1f1;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.uagb-slide-prev {
	top: 50%;
	left: 20px;
	transform: translateY(-60%);
}
.uagb-slide-next {
	top: 50%;
	right: 20px;
	transform: translateY(-60%);
}
