.uagb-swiper {
	overflow: hidden;
	position: relative;

	.swiper-navigation-icons {
		width: auto;
		height: auto;
		border-width: 0;
		padding: 0;
		margin: 0;
		transform: translateY(-50%);
	}

	.swiper-pagination {
		position: relative;
	}
}
