.uagb-swiper {
	position: relative;
	overflow: hidden;
}

.uagb-slider-container {
	position: relative;

	.swiper-pagination {
		position: relative;

		&.swiper-pagination-vertical{
			position: absolute;
			top: 10px !important;
			transform: none !important;
		}
	}

	.swiper-vertical {
		height: 500px;
	}
}
