/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-uagb-animated-headline {
    .uagb-animated-headline {
        &__text-rotating {
            display: inline-block;
             // effect
            &--clip {
                position: relative;
                overflow: hidden;
                vertical-align: top; 
                &::after {
                    /* line */
                    content: '';
                    position: absolute;
                    top: 0;
                    left: auto;
                    right: 0;
                    width: 2px;
                    height: 100%;
                    background-color: #0d0d0d; 
                }
                .uagb-animated-headline-dynamic-text {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0; 
                    &--inactive {
                        opacity: 0;
                    }
                    &--active {
                        position: relative;
                        opacity: 1;
                    }
                }
            }
             // effect
            &--typing {
                position: relative;
                display: inline-block;
                &::after {
                    /* line */
                    content: '';
                    position: absolute;
                    top: 0;
                    left: auto;
                    right: 0;
                    width: 2px;
                    height: 100%;
                    background-color: #0d0d0d; 
                    animation: uagb-animated-headline-blink 1s infinite;
                }
                .uagb-animated-headline-dynamic-text {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0; 
                    &--inactive {
                        opacity: 0;
                    }
                    &--active {
                        position: relative;
                        opacity: 1;
                    }
                    &:not(.uagb-animated-headline-dynamic-text--active) {
                        visibility: hidden; 
                    }
                    .uagb-animated-headline-dynamic-letter:not(.uagb-animated-headline-animation-in) {
                        position: absolute;
                        visibility: hidden; 
                    }
                }
            }
        }
        &__after-text {
            margin-left: 10px;
        }
    }
}
@keyframes uagb-animated-headline-blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}