/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-uagb-animated-headline {
    .uagb-animated-headline {
        &__text-rotating {
            display: inline-block;
            position: relative;
            overflow: hidden;
            vertical-align: top; 
            .uagb-animated-headline-dynamic-text {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0; 
                &--active {
                    position: relative;
                    opacity: 1;
                }
            }
             // effect
            &--clip {
                &::after {
                    /* line */
                    content: '';
                    position: absolute;
                    top: 0;
                    left: auto;
                    right: 0;
                    width: 2px;
                    height: 100%;
                    background-color: #0d0d0d; 
                }
                .uagb-animated-headline-dynamic-text {
                    opacity: 0;
                    &--active {
                        position: relative;
                        opacity: 1;
                    }
                }
            }
             // effect
            &--typing {
                &::after {
                    /* line */
                    content: '';
                    position: absolute;
                    top: 0;
                    left: auto;
                    right: 0;
                    width: 2px;
                    height: 100%;
                    background-color: #0d0d0d; 
                    animation: uagb-animated-headline-blink 1s infinite;
                }
                .uagb-animated-headline-dynamic-text {
                    &--active {
                        position: relative;
                        opacity: 1;
                    }
                    &:not(.uagb-animated-headline-dynamic-text--active) {
                        visibility: hidden; 
                    }
                    .uagb-animated-headline-dynamic-letter:not(.uagb-animated-headline-animation-in) {
                        position: absolute;
                        visibility: hidden; 
                    }
                }
            }
            // Flip
            &--flip {
                perspective: 300px;
                .uagb-animated-headline-dynamic-text {
                    opacity: 0;
                    -webkit-transform-origin: 50% 100%;
                    -ms-transform-origin: 50% 100%;
                    transform-origin: 50% 100%;
                    -webkit-transform: rotateX(180deg);
                    transform: rotateX(180deg); 
                    &--inactive {
                        -webkit-transform: rotateX(180deg);
                        transform: rotateX(180deg);
                        -webkit-animation: uagb-animated-headline-flip-out 1.2s;
                        animation: uagb-animated-headline-flip-out 1.2s; 
                    }
                    &--active {
                        opacity: 1;
                        -webkit-transform: rotateX(0deg);
                        transform: rotateX(0deg);
                        -webkit-animation: uagb-animated-headline-flip-in 1.2s;
                        animation: uagb-animated-headline-flip-in 1.2s; 
                    }
                }
            }
            &--swirl {
                -webkit-perspective: 300px;
                perspective: 300px;
                .uagb-animated-headline-dynamic-text { 
                    -webkit-transform: scaleX(1.0005);
                    -ms-transform: scaleX(1.0005);
                        transform: scaleX(1.0005);
                    opacity: 0; 
                    &--active {
                        opacity: 1;
                        .uagb-animated-headline-dynamic-letter {
                            opacity: 1;
                        }
                    }
                    .uagb-animated-headline-dynamic-letter {
                        display: inline-block;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                        -webkit-transform: translateZ(-20px) rotateX(90deg);
                        transform: translateZ(-20px) rotateX(90deg);
                        opacity: 0;
                        &.uagb-animated-headline-animation-in {
                            -webkit-animation: uagb-animated-headline-swirl-in .4s forwards;
                            animation: uagb-animated-headline-swirl-in .4s forwards;
                        }
                        &:not(.uagb-animated-headline-animation-in) {
                            -webkit-animation: uagb-animated-headline-swirl-out .4s forwards; 
                            animation: uagb-animated-headline-swirl-out .4s forwards; 
                        }
                    }
                    
                }
            }
        }
        &__after-text {
            margin-left: 10px;
        }
    }
}

// blink
@keyframes uagb-animated-headline-blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}
// flip in
@keyframes uagb-animated-headline-flip-in {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0; 
    }
    35% {
        -webkit-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0; 
    }
    65% {
        opacity: 0; 
    }
    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1; 
    } 
}
// flip out
@keyframes uagb-animated-headline-flip-out {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1; 
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1; 
    }
    65% {
        opacity: 0; 
    }
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0; 
    } 
}
// swirl in
@-webkit-keyframes uagb-animated-headline-swirl-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg); 
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg); 
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg); 
    } 
}
@keyframes uagb-animated-headline-swirl-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg); 
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg); 
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg); 
    } 
}
// swirl out
@-webkit-keyframes uagb-animated-headline-swirl-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0); 
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg); 
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg); 
    } 
}
@keyframes uagb-animated-headline-swirl-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0); 
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg); 
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg); 
    } 
}