/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-uagb-animated-headline {
    .uagb-animated-headline {
        &__text-rotating {
            display: inline-block;
        }
        &__after-text {
            margin-left: 10px;
        }
        // effect
        &-dynamic-text-typing {
            position: relative;
            display: inline-block;
            &::after {
                /* line */
                content: '';
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                width: 2px;
                height: 100%;
                background-color: #0d0d0d; 
                animation: uagb-animated-headline-blink 1s infinite;
            }
        }
        // effect
        &-dynamic-text-clip {
            position: relative;
            overflow: hidden;
            vertical-align: top; 
            &::after {
                /* line */
                content: '';
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                width: 2px;
                height: 100%;
                background-color: #0d0d0d; 
            }
            &__item {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0; 
                opacity: 0; 
                &--active {
                    position: relative;
                    opacity: 1;
                }
            }
        }
    }
}
@keyframes uagb-animated-headline-blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}