.wp-block-uagb-container {
	padding: 20px;

	.block-editor-block-list__layout {
		display: flex;

		.block-editor-block-list__block {
			display: flex;
		}

		.wp-block-uagb-container-child {
			padding: 20px;
		}
	}
}
