/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-ba-slider {
  display: flex;
  justify-content: center;

  .uagb-ba-slider__handle {
    pointer-events: initial;
  }
  
  figure.uagb-ba-slider__figure-before,
  figure.uagb-ba-slider__figure-after {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 100%;

    .uagb-ba-slider__image-before, .uagb-ba-slider__image-after {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .uagb-ba-slider__figure-before figcaption,
  .uagb-ba-slider__figure-after figcaption {
    padding: 12px;
    position: absolute;
    transform: translateY(-50%);
    line-height: 100%;
  }

}

// Margin reset button in Styling -> Spacing Settings.
.uag-advance-panel-body-spacing button.uagb-ba-slider__margin-reset-button {
  width: 100%;
  justify-content: center;

  background-color: rgb(97, 4, 255);  // The uber cool Spectra purple! 😎
  color: #ffffff;

  margin-bottom: 1.5em;

  &:hover {
    color: rgb(97, 4, 255) !important;  // !important is essential since the specificity is already high, yet the color wasn't being applied.
    background-color: #ffffff;
  }
}
