/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-ba-slider__figure-before,
.uagb-ba-slider__figure-after {
  margin: 0;
}

.uagb-ba-slider__figure-before figcaption,
.uagb-ba-slider__figure-after figcaption {
  border: 1px solid #c0c0c0;
  border-radius: 12px;
  opacity: 0.8;
  padding: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 100%;
}

.uagb-ba-slider__figure-before figcaption {
  left: 12px;
}

.uagb-ba-slider__figure-after figcaption {
  right: 12px;
}