/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.uagb-column__wrap,
.uagb-column__inner-wrap {
	position: relative;
	width: 100%;
	z-index: 2;
}

.uagb-column__wrap {

	position: relative;
	overflow: hidden;

	> * {
		z-index: 2;
		width: 100%;
	}

	&.uagb-column__align-left {
		margin-left: 0;
		margin-right: auto;
	}

	&.uagb-column__align-right {
		margin-left: auto;
		margin-right: 0;
	}

	.uagb-column__video-wrap,
	.uagb-column__overlay {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}

	.uagb-column__video-wrap {
		overflow: hidden;
		z-index: 0;
		-webkit-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
	}

	.uagb-column__video-wrap video {
		max-width: 100%;
		width: 100%;
		height: 100%;
		margin: 0;
		line-height: 1;
		border: none;
		display: inline-block;
		vertical-align: baseline;
		-o-object-fit: cover;
		object-fit: cover;
		background-size: cover;
	}
}

@media (max-width: 976px) {

	.uagb-column__align-tablet-left {
		margin-left: 0;
		margin-right: auto;
	}

	.uagb-column__align-tablet-right {
		margin-left: auto;
		margin-right: 0;
	}

	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-tab-1,
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-tab-2, 
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-tab-3,
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-tab-4,
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-tab-5,
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-tab-6 {
		display: flex;
		flex-wrap: wrap;
	}
}

@media (max-width: 767px) {

	.uagb-column__align-mobile-left {
		margin-left: 0;
		margin-right: auto;
	}

	.uagb-column__align-mobile-right {
		margin-left: auto;
		margin-right: 0;
	}

	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-mob-1,
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-mob-2,
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-mob-3,
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-mob-4,
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-mob-5,
	.wp-block-uagb-columns.uagb-columns__wrap.uagb-columns__columns-mob-6 {
		display: flex;
		flex-wrap: wrap;
	}
}

@media (max-width: 449px) {

	.uagb-columns__wrap.uagb-columns__background-image {
		background-attachment: scroll !important;
	}
}
