.uagb-post-date__wrap {
    display: inherit;
    .dashicons-calendar.dashicons{
        vertical-align: inherit;
        display: inline;
    }
    time{
        vertical-align: text-bottom;
    }
}
