.wp-block-uagb-countdown {

    display: flex;
    justify-content: center;
    text-align: center;

    &__box {
        position: relative;  // Helps to position separators.
        width: fit-content;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-right: 20px;

            .wp-block-uagb-countdown__time::after {
                position: absolute;
                right: 0;
            }
        }
    }
}

// These fixes are specific to the Astra theme.
body[class*="astra"] {

	.wp-block-uagb-countdown {
		line-height: normal;
	}
}
