/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 @keyframes uag-animation-push {
    50% {
        transform: scale(0.8)
    }

    100% {
        transform: scale(1)
    }
}
@keyframes uag-animation-pulse {
    25% {
        transform: scale(1.1)
    }

    75% {
        transform: scale(0.9)
    }
}

.uag-animation-pulse {
    animation-name: uag-animation-pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

.uag-animation-push {
    animation-name: uag-animation-push;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: 1
}
.uag-animation-bounce {
    transition-duration: .5s
}

.uag-animation-bounce {
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47,2.02,.31,-.36)
}

@keyframes uag-animation-pop {
    50% {
        transform: scale(1.2)
    }
}

.uag-animation-pop {
    animation-name: uag-animation-pop;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: 1
}